.mipanel-default {
  border-color: #dddddd;
}
mipanel-default > .panel-heading {
  color: #c9302c;
  background-color: #ffffff;
  border-color: #dddddd;
}
a.mipanel-default{
  color: #444444;
  font-size: 18px;
}
a.mipanel-default:hover{
  color: #000;
}
div.mipanel-default:hover{
    background-color: #cccccc;
}

.mipanel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.mipanel-default > .panel-heading > .dropdown .caret {
  border-color: #333333 transparent;
}

.mipanel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}
h4{
    font-size: 13px;
}
p{
    font-size: 12px;
}